@import 'variables.scss';

body{
    text-align:center;
    background-color:#1f2833;
    min-height:120vh;
}

.description{
    padding-top:20px;
    padding-bottom:10px;
    color:$neonBlue;
    font-family: $roboto;
    max-width:100vh;
    margin: 0 auto;
    p{
        color:$gray;
    }
}

.search{
    background-color:#0b0c10;
    max-width:90vh;
    color:$gray;
    margin: 0 auto;
    padding-top:40px;
    padding-bottom:40px;
} 

button{
    background-color: #1f2833; /* Green */
    border: $neonBlue 1px solid;
    color: $neonBlue;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.score{
    // border:3px solid pink;
    color:$gray;
    margin-top:30px;
    font-family:$arimo;
}

input[type=text] {
    padding:5px;
    border: none;
    background-color:#0b0c10;
    margin-right:10px;
    color:$gray;
    border-bottom: 2px solid $neonBlue;
    font-size:14px;
}

.error{
    padding: 0;
    p{
        margin: 0 auto;
        margin-top:30px;
    }
}

.congrats{
    color:$gray;
    font-size:30px;
    min-height:100px;
    p{  
        padding-top:30px;

        padding:0;
        margin:0;
    }
}

.challenge{
    position:absolute;
    margin-top:50px;
    
    padding:40px;
    p{
 
    }

}


$yellow: #ffd300;
$blue: #17d3ff;
$pink: #ff4e91;

$duration: 1000;

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

.icon {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 15px;
  position: relative;
}

.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: $yellow;
  top: 0;
  opacity: 0;
  
  @for $i from 1 through 13 {
    &:nth-child(#{$i}) {
      left: $i * 7%;
      transform: rotate(#{randomNum(-80, 80)}deg);
      animation: makeItRain $duration * 1ms infinite ease-out;
      animation-delay: #{randomNum(0, $duration * .5)}ms;
      animation-duration: #{randomNum($duration * .7, $duration * 1.2)}ms
    }
  }
  
  &:nth-child(odd) {
    background: $blue;
  }
  
  &:nth-child(even) {
    z-index: 1;
  }
  
  &:nth-child(4n) {
    width: 5px;
    height: 12px;
    animation-duration: $duration * 2ms;
  }
  
  &:nth-child(3n) {
    width: 3px;
    height: 10px;
    animation-duration: $duration * 2.5ms;
    animation-delay: $duration * 1ms;
  }
  
  &:nth-child(4n-7) {
    background: $pink;
  }
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }
  
  50% {
    opacity: 1;
  }
  
  to {
    transform: translateY(200px);
  }
}

.challengepage{
  color:white
}